body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #323338;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropZone {
  border: dashed #C5C7D0 5px;
  border-radius: 16px;
  padding: 10em;
}

.dropZoneHover {
  border-color: #0085FF;
}

.dropZoneComplete {
  border-color: #00CA72;
}